-r requirements.txt
flake8
pytest
pytest-cov
# python-weather # general weather API/module
# pyowm # API for weather forecast access
# meteostat # python weather API with weather data sourced from the NOAA and DWD
sodapy # open data API with access to unique data regarding New York City, New York
#pip install nyct-gtfs # NYCT-GTFS - Real-time NYC subway data parsing for humans

